// Colors
$ocean: #247ba0;
$lightocean: #4ea5ca;
$sun: #f29559;
$lightsun: #f1a775;
$grass: #659157;
$lightgrass: #7da371;
$cloud: #ffffff;
$shadow: #000000;
$gravel: #808080;
$warning: #a30000;


// border radius
$rounded: 5px;

// heights
$tall: 100px;
$medium-tall: 50px;
$low: 15px;

// Fonts
$fontprimary: 'arial','san-serif';
$fontsecondary: 'courier''san-serif';

$labelsize: 16px;
$placeholdersize: 14px;

$cellfontsize: 16px;

